<table class="table">
		<tr><%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %></tr>

		<tr>
			<th>name</th>
			<th><%= user.name %></th>
			
		</tr>

		<tr>
			<th>introduction</th>
			<th><%= user.introduction %></th>
		</tr>
		<tr>
			<th>follows</th>
			<th><% user ||= current_user %>
  				<a href="<%= following_user_path(user) %>">
   					<strong id="following" class="stat">
      					<%= user.followings.count %>
    				</strong></a>
    		</th>
    	</tr>
    	<tr>
    		<th>followers</th>
    		<th><% user ||= current_user %>
 				<a href="<%= followers_user_path(user) %>">
    				<strong id="followers" class="stat">
      					<%= user.followers.count %>
    				</strong></a>
    		</th>
		</tr>
</table>

<!-- #現在ログインしているユーザーのプロフィールには、フォロー、フォロー解除のボタンがでないようになる
 --> 
 <% unless current_user?(user) %>
  	<div id="follow_form">
  		<% if current_user.following?(user) %>
 			    <%= render 'users/unfollow', user: user %>
  		<% else %>
   			  <%= render 'users/follow', user: user %>
  		<% end %>
    </div>
<% end %> 



<div class="row">
	<%= link_to '',edit_user_path(user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{user.id}" %>
</div>